{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}
{% block javascripts %}
<script src="CreateProductFromUploadedFileController">
    const eventSource = new EventSource('http://localhost:3000/.well-known/mercure?topic=' + encodeURIComponent('http://example.com/books/1'));
    eventSource.onmessage = event => {
// Will be called every time an update is published by the server
        console.log(JSON.parse(event.data));
    }
</script>
{% endblock %}
{% block body %}
    {% for message in app.flashes('products are valid') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Create') }}</button>
    {{ form_end(form) }}
{% endblock %}