{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}
{% block javascripts %}
<script src="">
    const eventSource = new EventSource('http://localhost:3000/.well-known/mercure' + encodeURIComponent('localhost:8000/createProductFromUploadedFile'));
    eventSource.onmessage = event => {
        console.log(JSON.parse(event.data));
    }
</script>
{% endblock %}
{% block body %}
    {% for message in app.flashes('products are valid') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('Process is started') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Create') }}</button>
    {{ form_end(form) }}
{% endblock %}